<script lang="ts"></script>

<!-- ============================================ -->
<!-- ============================================ -->

# stickynode

🟨 how to set up and run a near node

<!-- ============================================ -->
<!-- ============================================ -->

<style></style>
