<script lang="ts"></script>

<!-- ============================================ -->
<!-- ============================================ -->

# stickynode

🟨 how to set up and run a near validator node

[https://github.com/web3stick/stickynode](https://github.com/web3stick/stickynode)

<!-- ============================================ -->
<!-- ============================================ -->

<style></style>
