<script lang="ts"></script>

<!-- ============================================ -->
<!-- ============================================ -->

# docker
🟨 running neard with docker

ℹ️ this guide is based on [near-nodes.io/validator/docker-setup](https://near-nodes.io/validator/docker-setup), and focused primarly on mainnet

<!-- ============================================ -->
<!-- ============================================ -->

<style></style>
