<script lang="ts"></script>

<!-- ============================================ -->
<!-- ============================================ -->

# config
🟨 .near folder and json schema for ```config.json```

<!-- ============================================ -->
<!-- ============================================ -->

<style></style>
